body{
	font-family:arial!important;
}
.border{
	border:.5mm solid black !important;	
}
thead tr{
	
}
thead tr th{
	background:#666;
	padding: 2.5mm 15mm !important;
	color:#FFF;
}

tbody tr td{
	padding: 1mm 1mm;
}
tfoot tr td{
	padding: 1mm 1mm;
	text-align: right;
	font-weight: bold;
}
label{
	font-weight:bold!important;
}